/* --------------------------------------------GLOBALES------------------------------------------------- */

:root {
  --fuenteHeading: "PT sans", sans-serif;
  --fuenteParrafos: "Open Sans", sans-serif;
  --primary: rgb(47, 47, 188);
  --background:rgb(178, 184, 187);
  --gray: #989898;
  --white: #ffffff;
  --black: #000000;
  --colorH3: rgb(56, 118, 159);
  --colorH2: rgb(9, 45, 164);
  --hover:rgb(255, 212, 20);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
li,
table,
label,
legend,
h5,
h6 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
  margin: 1rem;
}

p{
    font-family: var(--fuenteParrafos);
    line-height: 1.2;
    margin: 1rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  
  font-size: 4rem;
  color: var(--colorH2);
}

h3 {
  color: var(--colorH3);
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

li,
p,
td,
th {
  font-size: 2rem;
}


section{
    margin: 7rem 0 0 0;
}

body {
    margin: 0;
  }

  
.text-center {
    text-align: center;
  }


/* ---------------------------------------BARRA DE NAVEGACION---------------------------------------------------*/
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 3rem 0;
    color: var(--white);
  }
  
  .nav-bar a {
    color: var(--white);
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .nav-bar h1 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    color: var(--hover);
  }
  
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
  }
  
  .nav li {
    display: inline;
  }
  
  @media screen and (max-width: 600px) {
    .nav-bar {
      flex-direction: column;
      text-align: center;
    }
  
    .nav-bar a {
      margin: 0 0;
      display: block;
    }
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .title-contact{
    color: var(--white);
  }

 .email{
  font-size: 1.4rem;
  font-family: var(--fuenteParrafos);
 }


 /*  ----------------------------------ABOUT ME-------------------------------------*/
 .description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

}
.text-description{
    padding: 1rem;
}

.img-description {
  width: 50rem;
  margin-left: 4rem;
  padding: 1rem;
}


.biography{
  font-size: 2rem;
}

@media (min-width:766px ){
  .img-biography{
    width: 30rem;
    margin-top: 10rem;
    margin-left: 8rem;
    padding: 1rem;
  }
}

.img-biography{
  width: 30rem;
  margin-top: 10rem;
  padding: 1rem;
}




/* ------------------------------------------CONOCIMIENTOS------------------------------------------ */

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 1rem;
}

.images img {
  max-width: 10rem;
  height: auto;
  display: block;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border-radius: 1rem;
}



.elements {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }

@media (max-width: 768px) {
    .description {
        display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .text-description {
      margin-bottom: 0; 
    }

    .img-description {
        width: auto;
        margin: 1rem;

      }


      th,
      td {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
    
      thead {
        display: none;
      }
    
      img {
        width: 100%;
      }


  }




/* -----------------------------------TABLA DE PROYECTOS------------------------------------------------------ */

th {
  background-color:var(--gray) ;
}

td {
  list-style: disc;
  border: 1px solid var(--gray);
}


.first{
    margin: 4rem 0 0 0;
    
}

/*--------------------------------------- FORMULARIO ------------------------------------------*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  resize: none;
}

label {
  font-size: 1.5rem;
}

legend {
  font-size: 2rem;
}

fieldset {
  width: 70rem;
  margin: 1rem;
}

@media (max-width: 480px) {
  fieldset {
    width: 30rem;
  }

  input[type="radio"] {
    width: 1rem;
  }
}

@media (max-width: 720px) and (min-width: 480px) {
  fieldset {
    width: 50rem;
  }
  input[type="radio"] {
    width: 10rem;
  }
}

input,
select,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px var(--gray);
}

input[type="checkbox"] {
  margin: 0;
  max-width: 10rem;
}

input[type="submit"] {
  margin: 0;
  max-width: 10rem;
  background-color: var(--primary);
  color: var(--white);
  margin: 2rem;
}

input[type="radio"] {
  margin: 2rem;
  margin-bottom: 3rem;
  max-width: 20rem;
}
